<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>This is the title!</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!-- Declare Google Fonts that You'll Need for This Page | This will declare the selected font as the body font-->
  <%= use_google_font('Open Sans'); %>
</head>
<body>
  <%= icon_button('glyphicon glyphicon-queen', 'I am message',)%>
  <p> This is some body text </p>
  <p> Want to know how many cats there are?  Me too.  There are <%= pluralize('cat', 2) %>!  Isn't that exciting??
  </body>
  </html>
